body{
  font-family: Arial;
  background:#111;
  color:#fff;
  padding:20px;
}

textarea{
  width:100%;
  height:200px;
  font-size:16px;
}

.note-box{
  background:#222;
  padding:15px;
  border-radius:10px;
  white-space:pre-wrap;
}

input,textarea,button{
  margin:6px 0;
  padding:10px;
  width:100%;
  border-radius:8px;
  border:none;
}

button{
  background:#ff4757;
  color:white;
  font-weight:bold;
}

.comment{
  background:#333;
  padding:8px;
  border-radius:6px;
  margin:5px 0;
}