body{
  font-family:Arial;
  background:#0f172a;
  color:white;
  padding:20px;
}
input,textarea,button{
  width:100%;
  margin:8px 0;
  padding:10px;
}
button{
  background:#22c55e;
  border:none;
  color:black;
  font-weight:bold;
}
#comments div{
  background:#1e293b;
  padding:10px;
  margin-top:5px;
}